.Textfield_50{
    width: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.Textfield_normal{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.Box_form{
    background-color: rgb(228, 237, 238);
    border-radius: 1rem;
    margin-bottom: 2rem;
}